body {
	margin: 0px;
	overflow: hidden;
}

.title {
	width: 100%;
	margin-bottom: 100px;
	text-align: center;
}

.v-mid {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-align-items: center;
	 -webkit-flex-align: center;
		 -ms-flex-align: center;
			align-items: center;
}

img {
	position: absolute;
}

img#chrome {
	left: -20%;
	top: -20%;
}

img#safari {
	top: -37%;
	right: 5%;
}

img#firefox {
	bottom: -40%;
	left: 5%;
}

img#opera {
	right: -20%;
	bottom: -20%;
}

img#title {
	position: relative;
}